<%- include("partials/header")%>

<style>
	body{
		background-color: white;
	}
	#div{
		font-size: 20px;
		line-height: 2;
		letter-spacing
		box-sizing: border-box;
		font-weight: normal;
		margin: 50px auto;
		max-width:50%;
		box-shadow:10px 5px 5px black;
		text-align: center;
		border: 1px solid rgb(220,220,220);
		opacity: 0.8;
		/* background-color: black; */
</style>

<div class="ui container">
	<div id="div">
	<h1>ABOUT US</h1>

<p>Monkey Wheeler specializes in two wheeler information’s.
What we do
Monkey Wheeler provides initial information’s of two wheelers like
 Brand
 Model
 Cost
 Color etc.
		</p>
<h2>OUR MISSION</h2>
		<p>
Monkey Wheeler is a website for all two wheeler lovers to get details and be updated with their
			favourite bikes.</p>

<h2>OUR PROMISE</h2>
		<p>
We deliver optimistic and diverse information’s, data’s and points of view to our audience of smart,
curious, passionate bike lovers.
		</p>

<h2>OUR VIBE</h2>
		<p>
AT Monkey Wheeler, we make magic, we dream for your love on bikes, and then we do it for you.
Your satisfaction is our victory!!!
		</p>
</div>
	
</div>

<%- include("partials/footer")%>