<%- include("partials/header")%>
<style>
	body{
	background: #1c92d2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f2fcfe, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


	}
	#test{
		border:2px solid black;
		
	}
</style>
<div class="ui  container">
	<h1 class="ui header" style="text-align:center">
		Login 
	</h1>
	<hr>
	<div id="test">
	<form class="ui form" action="/login" method="POST" style="width:50%;margin:50px auto;" >
		<div class="field">
			<label style="font-size:20px;">Username:</label>
    <input placeholder="username" type="text" name=username>
		</div>
		<div class="field">
			<label style="font-size:20px;">Password:</label>
    <input placeholder="password" name="password" type="password">
		</div>
		<div class="field">
    <button type="submit" class="ui red large button">Login</button>
	</form>
		<div style="margin-top:30px;">
		<span style="font-size:20px;">If new user     </span>
    <a href="/register" style="font-size:20px;">..Sign-Up</a>
		</div>
		</div>
</div>
    
<%- include("partials/footer")%>