<%- include("partials/header") %>

<style>
	#button{
		margin: 30px auto;
		
	}
	#a{
		display:block;
		margin-top: 8px;
	}
	#a1{
		display:block;
	}
	h2{
		text-align:center;
	}
</style>
<div class="ui container">
	<h2 class="ui header">SELECT</h2>
	<div id="button">
	<a id="a1" href="/index/admin/create" class="ui fuild button big inverted red">NEW BIKE</a>
	<a id="a" href="/index/edit" class="ui fuild button big inverted blue">EDIT AND DELETE</a>
	<a id="a" href="/user" class="ui fuild button big inverted yellow">CUSTOMER DETIALS </a>
</div>
</div>


<%- include("partials/footer") %>